In [2]:
#Importing packages
import pandas as pd
import seaborn as sns

In [3]:
#Read .csv
hosts = pd.read_csv("olympic_hosts.csv")
hosts

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
2,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
4,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014
5,london-2012,2012-08-12T19:00:00Z,2012-07-27T07:00:00Z,Great Britain,London 2012,Summer,2012
6,vancouver-2010,2010-02-28T04:00:00Z,2010-02-12T16:00:00Z,Canada,Vancouver 2010,Winter,2010
7,beijing-2008,2008-08-24T12:00:00Z,2008-08-08T00:00:00Z,China,Beijing 2008,Summer,2008
8,turin-2006,2006-02-26T19:00:00Z,2006-02-10T07:00:00Z,Italy,Turin 2006,Winter,2006
9,athens-2004,2004-08-29T18:00:00Z,2004-08-13T06:00:00Z,Greece,Athens 2004,Summer,2004
10,salt-lake-city-2002,2002-02-24T08:00:00Z,2002-02-08T15:00:00Z,United States,Salt Lake City 2002,Winter,2002
11,sydney-2000,2000-10-01T09:00:00Z,2000-09-15T01:00:00Z,Australia,Sydney 2000,Summer,2000
12,nagano-1998,1998-02-22T11:00:00Z,1998-02-06T23:00:00Z,Japan,Nagano 1998,Winter,1998
13,atlanta-1996,1996-08-05T21:00:00Z,1996-07-19T12:00:00Z,United States,Atlanta 1996,Summer,1996
14,lillehammer-1994,1994-02-27T19:00:00Z,1994-02-12T07:00:00Z,Norway,Lillehammer 1994,Winter,1994
15,barcelona-1992,1992-08-09T18:00:00Z,1992-07-25T06:00:00Z,Spain,Barcelona 1992,Summer,1992
16,albertville-1992,1992-02-23T19:00:00Z,1992-02-08T07:00:00Z,France,Albertville 1992,Winter,1992
17,seoul-1988,1988-10-02T10:00:00Z,1988-09-16T22:00:00Z,Republic of Korea,Seoul 1988,Summer,1988
18,calgary-1988,1988-02-28T03:00:00Z,1988-02-13T15:00:00Z,Canada,Calgary 1988,Winter,1988
19,los-angeles-1984,1984-08-12T19:00:00Z,1984-07-28T15:00:00Z,United States,Los Angeles 1984,Summer,1984
20,sarajevo-1984,1984-02-19T19:00:00Z,1984-02-08T07:00:00Z,Yugoslavia,Sarajevo 1984,Winter,1984
21,moscow-1980,1980-08-03T18:00:00Z,1980-07-19T05:00:00Z,USSR,Moscow 1980,Summer,1980
22,lake-placid-1980,1980-02-24T01:00:00Z,1980-02-13T13:00:00Z,United States,Lake Placid 1980,Winter,1980
23,montreal-1976,1976-07-31T22:00:00Z,1976-07-17T12:00:00Z,Canada,Montreal 1976,Summer,1976
24,innsbruck-1976,1976-02-15T19:00:00Z,1976-02-04T07:00:00Z,Austria,Innsbruck 1976,Winter,1976
25,munich-1972,1972-09-11T19:00:00Z,1972-08-26T07:00:00Z,Federal Republic of Germany,Munich 1972,Summer,1972
26,sapporo-1972,1972-02-13T11:00:00Z,1972-02-02T23:00:00Z,Japan,Sapporo 1972,Winter,1972
27,mexico-city-1968,1968-10-28T04:00:00Z,1968-10-12T16:00:00Z,Mexico,Mexico City 1968,Summer,1968
28,grenoble-1968,1968-02-18T19:00:00Z,1968-02-06T07:00:00Z,France,Grenoble 1968,Winter,1968
29,tokyo-1964,1964-10-24T11:00:00Z,1964-10-09T23:00:00Z,Japan,Tokyo 1964,Summer,1964
30,innsbruck-1964,1964-02-09T19:00:00Z,1964-01-29T07:00:00Z,Austria,Innsbruck 1964,Winter,1964
31,rome-1960,1960-09-11T19:00:00Z,1960-08-25T07:00:00Z,Italy,Rome 1960,Summer,1960
32,squaw-valley-1960,1960-02-28T04:00:00Z,1960-02-18T16:00:00Z,United States,Squaw Valley 1960,Winter,1960
33,melbourne-1956,1956-12-08T10:00:00Z,1956-11-21T22:00:00Z,"Australia, Sweden",Melbourne 1956,Summer,1956
34,cortina-d-ampezzo-1956,1956-02-05T19:00:00Z,1956-01-26T07:00:00Z,Italy,Cortina d'Ampezzo 1956,Winter,1956
35,helsinki-1952,1952-08-03T07:00:00Z,1952-07-19T07:00:00Z,Finland,Helsinki 1952,Summer,1952
36,oslo-1952,1952-02-25T19:00:00Z,1952-02-14T07:00:00Z,Norway,Oslo 1952,Winter,1952
37,london-1948,1948-08-14T19:00:00Z,1948-07-29T07:00:00Z,Great Britain,London 1948,Summer,1948
38,st-moritz-1948,1948-02-08T19:00:00Z,1948-01-30T07:00:00Z,Switzerland,St. Moritz 1948,Winter,1948
39,berlin-1936,1936-08-16T19:00:00Z,1936-08-01T07:00:00Z,Germany,Berlin 1936,Summer,1936
40,garmisch-partenkirchen-1936,1936-02-16T20:00:00Z,1936-02-06T08:00:00Z,Germany,Garmisch-Partenkirchen 1936,Winter,1936
41,los-angeles-1932,1932-08-14T19:00:00Z,1932-07-30T16:00:00Z,United States,Los Angeles 1932,Summer,1932
42,lake-placid-1932,1932-02-15T18:00:00Z,1932-02-04T13:00:00Z,United States,Lake Placid 1932,Winter,1932
43,amsterdam-1928,1928-08-12T19:00:00Z,1928-05-17T07:00:00Z,Netherlands,Amsterdam 1928,Summer,1928
44,st-moritz-1928,1928-02-19T08:00:00Z,1928-02-11T08:00:00Z,Switzerland,St. Moritz 1928,Winter,1928
45,paris-1924,1924-07-27T19:00:00Z,1924-05-04T07:00:00Z,France,Paris 1924,Summer,1924
46,chamonix-1924,1924-02-05T20:00:00Z,1924-01-25T08:00:00Z,France,Chamonix 1924,Winter,1924
47,antwerp-1920,1920-09-12T19:00:00Z,1920-04-20T07:00:00Z,Belgium,Antwerp 1920,Summer,1920
48,stockholm-1912,1912-07-27T20:00:00Z,1912-05-05T08:00:00Z,Sweden,Stockholm 1912,Summer,1912
49,london-1908,1908-10-31T20:09:00Z,1908-04-27T08:00:00Z,Great Britain,London 1908,Summer,1908
50,st-louis-1904,1904-11-24T02:00:00Z,1904-07-01T14:00:00Z,United States,St. Louis 1904,Summer,1904
51,paris-1900,1900-10-28T19:50:39Z,1900-05-14T08:50:39Z,France,Paris 1900,Summer,1900
52,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896

In [4]:
athletes = pd.read_csv("olympic_athletes.csv")
athletes

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NaN,NaN
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,NaN,NaN
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,NaN,NaN
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,NaN,NaN
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,NaN,NaN
...,...,...,...,...,...,...,...
75899,https://olympics.com/en/athletes/douglas-weigle,Douglas WEIGLE,1,Innsbruck 1976,1955.0,NaN,\n\n\nKent Weigle competed in ice dancing with...
75900,https://olympics.com/en/athletes/stefania-bertele,Stefania BERTELE,1,Innsbruck 1976,1957.0,NaN,\n\n\nStefania Bertele had the following place...
75901,https://olympics.com/en/athletes/walter-cecconi,Walter CECCONI,1,Innsbruck 1976,1957.0,NaN,\n\n\nWalter Cecconi had the following placeme...
75902,https://olympics.com/en/athletes/susan-kelley,Susan KELLEY,1,Innsbruck 1976,1954.0,NaN,\n\n\nSusie Kelley competed in ice dancing wit...
75903,https://olympics.com/en/athletes/andrew-stroukoff,Andrew STROUKOFF,1,Innsbruck 1976,1960.0,NaN,\n\n\nAndrew Stroukoff competed in ice dancing...

In [5]:
medals = pd.read_csv("olympic_medals.csv")
medals

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE
...,...,...,...,...,...,...,...,...,...,...,...,...
21692,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,SILVER,Athlete,NaN,https://olympics.com/en/athletes/viggo-jensen,Viggo JENSEN,Denmark,DK,DEN
21693,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,BRONZE,Athlete,NaN,NaN,Alexandros Nikolopoulos,Greece,GR,GRE
21694,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,GOLD,Athlete,NaN,https://olympics.com/en/athletes/viggo-jensen,Viggo JENSEN,Denmark,DK,DEN
21695,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,SILVER,Athlete,NaN,https://olympics.com/en/athletes/launceston-el...,Launceston ELLIOT,Great Britain,GB,GBR
21696,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,BRONZE,Athlete,NaN,https://olympics.com/en/athletes/sotirios-versis,Sotirios VERSIS,Greece,GR,GRE

In [6]:
results = pd.read_csv("olympic_results.csv")
results

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,NaN
1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,NOR,NaN,NaN,NaN,NaN
2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SE,SWE,NaN,NaN,NaN,NaN
3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GB,GBR,NaN,NaN,NaN,NaN
4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CA,CAN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162799,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Poland,PL,POL,https://olympics.com/en/athletes/franciszek-bujak,Franciszek BUJAK,NaN,IRM
162800,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Poland,PL,POL,NaN,Henryk Mückenbrunn,NaN,IRM
162801,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Czechoslovakia,CSHH,TCH,NaN,Milda Prokopec,NaN,IRM
162802,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,United States of America,US,USA,NaN,Sigurd Overby,NaN,IRM
162803,Gymnastics Artistic,"26th Federal Festival, Society and Association...",paris-1900,GameTeam,NaN,NaN,NaN,1,France,FR,FRA,NaN,NaN,142 pts,POINTS

In [7]:
data = medals.merge(hosts, right_on="game_slug", left_on="slug_game", how='outer', indicator=True)
data

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year,_merge
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022,both
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022,both
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022,both
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022,both
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21692,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,SILVER,Athlete,NaN,https://olympics.com/en/athletes/viggo-jensen,Viggo JENSEN,Denmark,DK,DEN,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896,both
21693,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,BRONZE,Athlete,NaN,NaN,Alexandros Nikolopoulos,Greece,GR,GRE,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896,both
21694,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,GOLD,Athlete,NaN,https://olympics.com/en/athletes/viggo-jensen,Viggo JENSEN,Denmark,DK,DEN,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896,both
21695,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,SILVER,Athlete,NaN,https://olympics.com/en/athletes/launceston-el...,Launceston ELLIOT,Great Britain,GB,GBR,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896,both
21696,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,BRONZE,Athlete,NaN,https://olympics.com/en/athletes/sotirios-versis,Sotirios VERSIS,Greece,GR,GRE,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896,both

In [8]:
data = data.loc[(data["country_name"]=="Italy") & (data["game_season"]=="Summer")]
data

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year,_merge
379,Shooting,tokyo-2020,Skeet women,Women,SILVER,Athlete,NaN,https://olympics.com/en/athletes/diana-bacosi,Diana BACOSI,Italy,IT,ITA,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020,both
492,Canoe Sprint,tokyo-2020,Men's Kayak Single 200m,Men,SILVER,Athlete,NaN,https://olympics.com/en/athletes/manfredi-rizza,Manfredi RIZZA,Italy,IT,ITA,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020,both
495,Cycling Road,tokyo-2020,Women's Road Race,Women,BRONZE,Athlete,NaN,https://olympics.com/en/athletes/elisa-longo-b...,Elisa LONGO BORGHINI,Italy,IT,ITA,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020,both
555,Boxing,tokyo-2020,Women's Feather (54-57kg),Women,BRONZE,Athlete,NaN,https://olympics.com/en/athletes/irma-testa,Irma TESTA,Italy,IT,ITA,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020,both
639,Marathon Swimming,tokyo-2020,Men's 10km,Men,BRONZE,Athlete,NaN,https://olympics.com/en/athletes/gregorio-palt...,Gregorio PALTRINIERI,Italy,IT,ITA,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21294,Fencing,paris-1900,sabre masters men,Men,GOLD,Athlete,NaN,https://olympics.com/en/athletes/antonio-conte,Antonio CONTE,Italy,IT,ITA,paris-1900,1900-10-28T19:50:39Z,1900-05-14T08:50:39Z,France,Paris 1900,Summer,1900,both
21295,Fencing,paris-1900,sabre masters men,Men,SILVER,Athlete,NaN,https://olympics.com/en/athletes/italo-santelli,Italo SANTELLI,Italy,IT,ITA,paris-1900,1900-10-28T19:50:39Z,1900-05-14T08:50:39Z,France,Paris 1900,Summer,1900,both
21306,Cycling Track,paris-1900,Course De Primes Men,Men,GOLD,Athlete,NaN,https://olympics.com/en/athletes/enrico-brusoni,Enrico BRUSONI,Italy,IT,ITA,paris-1900,1900-10-28T19:50:39Z,1900-05-14T08:50:39Z,France,Paris 1900,Summer,1900,both
21488,Equestrian Jumping,paris-1900,individual mixed,Open,SILVER,Athlete,NaN,https://olympics.com/en/athletes/gian-giorgio-...,Gian Giorgio TRISSINO,Italy,IT,ITA,paris-1900,1900-10-28T19:50:39Z,1900-05-14T08:50:39Z,France,Paris 1900,Summer,1900,both
21490,Equestrian Jumping,paris-1900,high jump mixed,Open,GOLD,Athlete,NaN,https://olympics.com/en/athletes/gian-giorgio-...,Gian Giorgio TRISSINO,Italy,IT,ITA,paris-1900,1900-10-28T19:50:39Z,1900-05-14T08:50:39Z,France,Paris 1900,Summer,1900,both

In [9]:
#Use the function groupby for having the number of athletes
#in each discipline
a = data.groupby(by = ['discipline_title']).size().reset_index(name = 'athletes')
a

         discipline_title  athletes
0                 Archery         9
1     Artistic Gymnastics         1
2               Athletics        65
3              Basketball         2
4        Beach Volleyball         2
5                  Boxing        48
6            Canoe Slalom         3
7            Canoe Sprint        21
8   Cycling Mountain Bike         3
9            Cycling Road        20
10          Cycling Track        46
11                 Diving        12
12    Equestrian Eventing         8
13     Equestrian Jumping        12
14                Fencing       130
15               Football         3
16    Gymnastics Artistic        28
17    Gymnastics Rhythmic         2
18                   Judo        17
19                 Karate         2
20      Marathon Swimming         3
21      Modern Pentathlon         7
22    Rhythmic Gymnastics         1
23                 Rowing        51
24                Sailing        21
25               Shooting        43
26               Swimming        26
27              Taekwondo         4
28                 Tennis         1
29             Volleyball         6
30             Water Polo        10
31          Weightlifting        17
32              Wrestling        22

In [15]:
#Number of athletes in each year
b = data.groupby(by = ['game_year']).size().reset_index(name = 'athletes')
b

    game_year  athletes
0        1900         5
1        1908         4
2        1912         6
3        1920        24
4        1924        16
5        1928        19
6        1932        36
7        1936        22
8        1948        29
9        1952        23
10       1956        24
11       1960        38
12       1964        28
13       1968        17
14       1972        18
15       1976        13
16       1980        16
17       1984        33
18       1988        14
19       1992        20
20       1996        38
21       2000        38
22       2004        34
23       2008        28
24       2012        29
25       2016        31
26       2020        43

In [23]:
idx = a["discipline_title"]
idx

0                   Archery
1       Artistic Gymnastics
2                 Athletics
3                Basketball
4          Beach Volleyball
5                    Boxing
6              Canoe Slalom
7              Canoe Sprint
8     Cycling Mountain Bike
9              Cycling Road
10            Cycling Track
11                   Diving
12      Equestrian Eventing
13       Equestrian Jumping
14                  Fencing
15                 Football
16      Gymnastics Artistic
17      Gymnastics Rhythmic
18                     Judo
19                   Karate
20        Marathon Swimming
21        Modern Pentathlon
22      Rhythmic Gymnastics
23                   Rowing
24                  Sailing
25                 Shooting
26                 Swimming
27                Taekwondo
28                   Tennis
29               Volleyball
30               Water Polo
31            Weightlifting
32                Wrestling
Name: discipline_title, dtype: object

In [24]:
cols = b["game_year"]
cols

0     1900
1     1908
2     1912
3     1920
4     1924
5     1928
6     1932
7     1936
8     1948
9     1952
10    1956
11    1960
12    1964
13    1968
14    1972
15    1976
16    1980
17    1984
18    1988
19    1992
20    1996
21    2000
22    2004
23    2008
24    2012
25    2016
26    2020
Name: game_year, dtype: int64

In [38]:
#This tasks is not finished
#Need to use the function .heatmap of Seaborn for having an heatmap between the number of athletes, per discipline
#and per time
#We need to make an other dataframe before making the schema (number of athletes par discipline per year)

#sns.heatmap(df.corr()).set_title("Athlètes engagés, par discipline et dans le temps")